###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef/access_token

# Ruby
.rake_test_cache
.rvmrc
.rbenv-version

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
